@charset "utf-8";
*{
    padding: 0;
    border: 0;
    margin: auto;
}
html, body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
	background-image: url("../images/jGlzr.png");
	background-size: cover;
	font-family: 'Oxanium', cursive;
}
.red {color: red
}
.bold {font-weight: bold;
}
#maintext {
	margin: 50px;
}
.div { text-align: center;
}
.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}
#introtext {
	 margin: 50px;
}