@charset "utf-8";
*{
    padding: 0;
    border: 0;
    margin: auto;
}
body {
    background-image: url("../images/jGlzr.png");
	background-size: cover;
	font-family: 'Oxanium', cursive;
}
.red {color: red
}
.bold {font-weight: bold;
}
p {text-align: center;
}
.div { text-align: center;
}
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}